
<div class="container d-flex justify-content-center">
<form id="add-offer" class="mt-5" style="width: 500px;">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">OFFER</label>
    <input
    name="offer"
      type="text"
      class="form-control"
     
      aria-describedby="emailHelp"
    />
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">PERCENTAGE</label>
    <input type="text" class="form-control" name="percentage"/>
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
 </div>