<div class="container-fluid d-flex justify-content-center mt-5">
    <div class="p-5 rounded" style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
        <form id="add-coupons" style="width: 400px;">
  <div class="mb-3">
    <label  class="form-label">Code</label>
    <input name="code" placeholder="code" type="text" class="form-control"  aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label  class="form-label">Percentage</label>
    <input name="percentage" placeholder="percentage" type="text" class="form-control" >
  </div>
  <div class="mb-3">
    <label  class="form-label">Expiry</label>
    <input name="expiry" placeholder="expiry" type="date" class="form-control" >
  </div>
 
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
    </div>

</div>

<script>




</script>