
<div class="container d-flex justify-content-center " style="margin-top: 60px;">  

<form class="w-50" action="/admin/add-category"   method="POST">
<h1>Add-Category</h1>
  <div class="mb-3">
   
    <input
      type="text"
      class="form-control"
      id="exampleInputEmail1"
      name="category"
      aria-describedby="emailHelp"
    />

  </div>

  <button type="submit" class="btn btn-primary">Submit</button>

  </div>
  
  
</form>

</div>