<div> 
<div class="chart mt-5" style="width:800px; height:400px;">
  <canvas id="myChart" width="400" height="200"></canvas>
</div>
 </div>
 
<script>

var ctx = document.getElementById("myChart").getContext("2d");
let gradient = ctx.createLinearGradient(0,0,0,400)
gradient.addColorStop(0,'rgba(58,123,213,1)')
gradient.addColorStop(1,'rgba(0,210,255,0.3)')

var chart = new Chart(ctx, {
  // The type of chart we want to create
  type: "line", // also try bar or other graph types

  // The data for our dataset
  data: {
    labels: [
      "Jun 2016",
      "Jul 2016",
      "Aug 2016",
      "Sep 2016",
      "Oct 2016",
      "Nov 2016",
      "Dec 2016",
      "Jan 2017",
      "Feb 2017",
      "Mar 2017",
      "Apr 2017",
      "May 2017",
    ],
    // Information about the dataset
    datasets: [
      {
        label: "Rainfall",
        backgroundColor: gradient,
        borderColor: "royalblue",
        
        data: [
          26.4, 39.8, 66.8, 66.4, 40.6, 55.2, 77.4, 69.8, 57.8, 76, 110.8,
          142.6,
        ],
      },
    ],
  },

  // Configuration options
  options: {
    layout: {
      padding: 10,
    },
    legend: {
      position: "bottom",
    },
    title: {
      display: true,
      text: "Precipitation in Toronto",
    },
    scales: {
      yAxes: [
        {
          scaleLabel: {
            display: true,
            labelString: "Precipitation in mm",
          },
        },
      ],
      xAxes: [
        {
          scaleLabel: {
            display: true,
            labelString: "Month of the Year",
          },
        },
      ],
    },
  },
});














//chart dom
// const myChart = new Chart(document.getElementById('myChart'), config);

// let barchart = new chart(myChart, {
//   type: "bar",
//   data: {
//     labels: [
//       January,
//       February,
//       March,
//       April,
//       May,
//       June,
//       July,
//       August,
//       September,
//       October,
//       November,
//       December,
//     ],
//     datasets: [
//       {
//         label: "months",
//         data: [31, 28, 31, 30, 31,30,31,31,30,31,30,31],
//       },
//     ],
//   },
//   options: {},
// });


// let ctx = document.querySelector('#myChart').getContext("2d");
</script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>