<div class="row container row ml-5"> 
<div class="chart mt-5 col-lg-5" style="width:800px; height:400px;">
  <canvas id="myChart" width="800" height="700"></canvas>
</div>
 </div>
 
 
 <div class="container d-flex justify-content-center">
  <div class="row container">
  <div class="col-md-6 col-xl-4">
                                <div class="card mb-3 widget-content bg-midnight-bloom">
                                    <div class="widget-content-wrapper text-white">
                                        <div class="widget-content-left">
                                            <div class="widget-heading">Total Orders</div>
                                            <div class="widget-subheading">Last year expenses</div>
                                        </div>
                                        <div class="widget-content-right">
                                            <div class="widget-numbers text-white"><span>1896</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-xl-4">
                                <div class="card mb-3 widget-content bg-arielle-smile">
                                    <div class="widget-content-wrapper text-white">
                                        <div class="widget-content-left">
                                            <div class="widget-heading">Clients</div>
                                            <div class="widget-subheading">Total Clients </div>
                                        </div>
                                        <div class="widget-content-right">
                                            <div class="widget-numbers text-white"><span>0</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-xl-4">
                                <div class="card mb-3 widget-content bg-grow-early">
                                    <div class="widget-content-wrapper text-white">
                                        <div class="widget-content-left">
                                            <div class="widget-heading">Profit</div>
                                            <div class="widget-subheading">2022</div>
                                        </div>
                                        <div class="widget-content-right">
                                            <div class="widget-numbers text-white"><span>46%</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
 </div>
 </div>
 


<script>
  var ctx = document.getElementById("myChart").getContext("2d");
let gradient = ctx.createLinearGradient(0,0,0,400)
gradient.addColorStop(0,'rgba(58,123,213,1)')
gradient.addColorStop(1,'rgba(0,210,255,0.3)')

var chart = new Chart(ctx, {
  // The type of chart we want to create
  type: 'doughnut', // also try bar or other graph types

  // The data for our dataset
  data: {
    labels: [
     "COD","RAZORPAY","PAYPAL"
    ],
    // Information about the dataset
    datasets: [
      {
        label: "Sales",
         backgroundColor: [
      'rgb(255, 99, 132)',
      'rgb(54, 162, 235)',
      'rgb(255, 205, 86)'
    ],
       
        
        data: [
         {{cod.total}},
         {{razorpay.total}},
         {{paypal.total}},
        ],
      },
    ],
  },

  // Configuration options
  options: {
    layout: {
      padding: 10,
    },
    legend: {
      position: "bottom",
    },
    title: {
      display: true,
      text: "gate way stats",
    },
  },
});


  //second chart

</script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>