<div class="container mt-5">
   <a href="/admin/add-offers"><button class="btn btn-primary float-right mb-3">Add offers</button></a> 
    <table class="table">
  <thead>
    <tr>
     
      <th scope="col">sl</th>
      <th scope="col">categories</th>
      <th scope="col">offers</th>
      
    </tr>
  </thead>
  <tbody>
     {{#each categories}}
    <tr>
     
      <td>*</td>
      <td>{{this.category}}</td>
      <td><select class="form-select" aria-label="Default select example">
 
  {{#each this.obj}}
  <option value="1">{{this.offer}}</option>
  {{/each}}
 
</select></td>
    
    </tr>
      {{/each}}
  </tbody>
</table>
</div>