<div class="container mt-5 pb-5">
  <div class="container-fluid pb-5 d-flex justify-content-center">
    <h1>Sales Report</h1>
  </div>
  <table id="example" class="display" style="width:100%">
    <thead>
      <tr>
        <th>Product</th>
        <th>Unit price</th>
        <th>Quantity</th>
        <th>Price</th>
       
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Tiger Nixon</td>
        <td>System Architect</td>
        <td>Edinburgh</td>
        <td>61</td>
        
      </tr>
      <tr>
        <td>Garrett Winters</td>
        <td>Accountant</td>
        <td>Tokyo</td>
        <td>63</td>
       
      </tr>

    </tbody>
  </table>
</div>