<div class="container mt-5 pb-5">
  <div class="container-fluid pb-5 d-flex justify-content-center">
    <h1>Sales Report</h1>
  </div>
  <table id="example" class="ui celled table" style="width:100%">
    <thead>
      <tr>
        <th>category</th>
        <th>jan</th>
        <th>feb </th>
        <th>mar</th>
        <th>apr</th>
        <th>may</th>
        <th>jun</th>
        <th>jul</th>
        <th>aug</th>
        <th>sep</th>
        <th>oct</th>
        <th>nov</th>
        <th>dec</th>
       
      </tr>
    </thead>
    <tbody>
      {{#each report}}
      <tr>
        
        <td>{{this.category}}</td>
        {{#each this.data}}
        <td>{{this.productQuantity}} units </td>
        {{/each}}
        
      </tr>
    {{/each}}

    </tbody>
  </table>
</div>