<div class="container mt-5 d-flex justify-content-center">

<form id="specific-offer" style="width:500px;">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Offer name</label>
    <input name="offer" type="text" class="form-control" >
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Percentage</label>
    <input name="percentage" type="text" class="form-control" >
  </div>
  
    <input name="prodId" type="text" value="{{prodId}}" class="form-control" hidden>
  
  <button type="submit" class="btn btn-primary">Add</button>
</form>


</div>