<div class="bg-gray-300 pt-5">

  <div class="py-12">
    <div
      class="max-w-md mx-auto bg-white shadow-lg rounded-lg md:max-w-xl mx-2"
    >
      <div class="md:flex">
        <div class="w-full p-4 px-5 py-5">
          <div class="flex flex-row">
            <h2 class="text-3xl font-semibold">Address</h2>
            
          </div>

          <form id="address-form">
            
            <div class="grid md:grid-cols-2 md:gap-2">
              <input
                type="text"
                name="FirstName"
                class="border rounded h-10 w-full focus:outline-none focus:border-green-200 px-2 mt-2 text-sm"
                placeholder="First name*"
                required
              />
            
              <input
                type="text"
                name="LastName"
                class="border rounded h-10 w-full focus:outline-none focus:border-green-200 px-2 mt-2 text-sm"
                placeholder="Last name*"
                 required
              />
            </div>

            <input
              type="text"
              name="Address"
              class="border rounded h-10 w-full focus:outline-none focus:border-green-200 px-2 mt-2 text-sm"
              placeholder="Address*"
               required
            />
            <input
              type="text"
              name="Apartment"
              class="border rounded h-10 w-full focus:outline-none focus:border-green-200 px-2 mt-2 text-sm"
              placeholder="Apartment, suite, etc."
               required
            />
            <div class="grid md:grid-cols-3 md:gap-2">
              <input
                type="text"
                name="Zipcode"
                class="border rounded h-10 w-full focus:outline-none focus:border-green-200 px-2 mt-2 text-sm"
                placeholder="Zipcode*"
                 required
              />
              <input
                type="text"
                name="City"
                class="border rounded h-10 w-full focus:outline-none focus:border-green-200 px-2 mt-2 text-sm"
                placeholder="City*"
                 required
              />
              <input
                type="text"
                name="State"
                class="border rounded h-10 w-full focus:outline-none focus:border-green-200 px-2 mt-2 text-sm"
                placeholder="State*"
                 required
              />
            </div>
            <input
              type="text"
              name="Country"
              class="border rounded h-10 w-full focus:outline-none focus:border-green-200 px-2 mt-2 text-sm"
              placeholder="Country*"
               required
            />
            <input
            id="phone-number-2"
              type="text"
              name="deliveryPhone"
              class="border rounded h-10 w-full focus:outline-none focus:border-green-200 px-2 mt-2 text-sm"
              placeholder="Phone Number*"
               required
            />

           
           
            <div class="flex justify-between items-center pt-2">
             

              <button
                type="submit"
                class="h-12 w-48 rounded font-medium text-xs bg-blue-500 text-white"
              >Update</button>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>