<div class="container d-flex justify-content-center mt-5">
  <div
    style="width:320px;
	margin:20px;"
    class="card login-form mt-5"
  >
    <div class="card-body">
      <h3 class="card-title text-center">Change password</h3>

      <!--Password must contain one lowercase letter, one number, and be at least 7 characters long.-->

      <div class="card-text">
        <form id="changepsw"
          style="padding-top: 10px;
	font-size: 13px;
	margin-top: 30px;"
        >

        
          <div class="form-group">
            <label for="exampleInputEmail1">Your new password</label>
            <input
              name="newpassword"
              type="password"
              class="form-control form-control-sm"
              required
            />
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Repeat password</label>
            <input
              name="newpasswordRe"
              type="password"
              class="form-control form-control-sm"
              required
            />
          </div>
          <button
            type="submit"
            class="btn btn-primary btn-block submit-btn"
          >Confirm</button>
        </form>
      </div>
    </div>
  </div>
</div>