<div class="container-fluid row   justify-content">
    <div class="col-md-6 m-auto">
        <div class="otp-form  d-flex justify-content-center"> 
        <div class="container mt-5 " >
            <h2 class="text-center fs-5 fw-bold mt-3">OTP VERIFICATION</h2>
            
            <form action="/otp-verification" method="POST" class="text-center mt-4" >
            {{#if loginerr}}
                <p class="error text-center" style="color: red;">Invalid number</p>
            {{/if}}

            {{#if invalidph}}
                <p class="error text-center" style="color: red;">Invalid number</p>
            {{/if}}
                <div class="form-group text-center">
                    <label class="mb-3" style="color: #D3A4D6;">Enter your phone number</label>
                    <input type="text" class="form-control  " name="number" placeholder="Phone" required >

                </div>
               
                 <a href="/signup" class="sign sign-info mt-4" style="width: fit-content; text-decoration: none; color:#D3A4D6;">Create new account</a>
                 <br>
                
                 
                <div class="mx-auto mt-3" style=" width: fit-content;">
                   
                    <button type="submit" class="btn " style="background-color: #D3A4D6; color:white;">Verify</button>
                </div>

                 
            </form>
        </div>
        </div>
    </div>
</div>