
 

    <div class="registration-form">
      <form id="personalfm">
        <div class="form-icon">
          <span><i class="icon icon-user"></i></span>
        </div>
        <div class="form-group">
          <input
            type="text"
            name="Email"
            class="form-control item"
            id="username"
            placeholder="username"
            value="{{data.Email}}"
          />
        </div>
    
       
        <div class="form-group">
          <input
          name="userEmail"
            type="text"
            class="form-control item"
            id="phone-number"
            placeholder="Email"
             value="{{data.userEmail}}"
          />
        </div>
        
        <div class="form-group">
          <input
          name="phone"
            type="text"
            class="form-control item"
            id="phone-number"
            placeholder="mobile"
             value="{{data.phone}}"
          />
        </div>
      
        <div class="form-group">
          <button type="submit" class="btn btn-block create-account">Update
            </button>
        </div>
      </form>

    </div>
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-3.2.1.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"
    ></script>
    <script src="assets/js/script.js"></script>
 