<div class="row m-0">
    <div class="col-md-6 m-auto">
        <div class="containor mt-5 pl-5">
            <h2 class="text-center">Create Account</h2>
            <form id="#forms" action="/signup" method="POST" onsubmit="return validate(event)">
             {{#if signerr}}
                <p class="error text-center" style="color: red;">Username already taken</p>
            {{/if}}
             {{#if phoneerr}}
                <p class="error text-center" style="color: red;">This number is already in use</p>
            {{/if}}
                <div class="form-group">
                    <label>User name</label>
                    <input type="text" class="form-control" name="Email" placeholder="Enter username" required>
                      
                </div>
                <div class="form-group">
                    <label>Phone</label>
                    <input id="phn" type="text" class="form-control" name="phone" placeholder="Phone" required>
                     <p id="invalidphn" class="error text-center" style="color: red;">Invalid Phone Number</p>

                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="Password" placeholder="Password" required>
                     <p id="invalidpsw" class="error text-center" style="color: red; visibility:hidden">Invalid Password</p>
                </div>
                
                
                 <a href="/login" class="sign sign-info mt-5 " style="width: fit-content; text-decoration: none;">Already have account ?</a>
                <div class="mx-auto mt-3" style=" width: fit-content;">
                    <button type="submit" class="btn btn-primary">Signup</button>
                </div>
            </form>
        </div>
    </div>
</div>
