
  <div class="container pt-5 mt-8">
    <div class="row gutters">
      

      <form class=" " action="/user-profile" method="POST">
      <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
		
        <div class="card h-100">
          <div class="card-body">
            <div class="row gutters">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <h6 class="mb-2 text-primary">Personal Details</h6>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <label for="fullName">First Name</label>
                  <input
				  name="firstName"
                    type="text"
                    class="form-control"
                    id="fullName"
                    placeholder="Enter full name"
                  />
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <label for="LastName">Last Name</label>
                  <input
				   name="lastName"
                    type="text"
                    class="form-control"
                    id="eMail"
                    placeholder="Enter email ID"
                  />
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <label for="phone">Phone</label>
                  <input
				   name="phone"
                    type="text"
                    class="form-control"
                    id="phone"
                    placeholder="Enter phone number"
                  />
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <label for="website">Address</label>
                  <input
				   name="address"
                    type="text"
                    class="form-control"
                    id="website"
                    placeholder="address"
                  />
                </div>

              </div>
            </div>
            <div class="row gutters">

              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <label for="Street">Street</label>
                  <input
				   name="street"
                    type="name"
                    class="form-control"
                    id="Street"
                    placeholder="Enter Street"
                  />
                </div>

              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <label for="ciTy">City</label>
                  <input
				   name="city"
                    type="name"
                    class="form-control"
                    id="ciTy"
                    placeholder="Enter City"
                  />
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <label for="sTate">State</label>
                  <input
				   name="state"
                    type="text"
                    class="form-control"
                    id="sTate"
                    placeholder="Enter State"
                  />
                </div>
                <div class="form-group">
                  <label for="sTate">Country</label>
                  <input
				   name="country"
                    type="text"
                    class="form-control"
                    id="sTate"
                    placeholder="Enter State"
                  />
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <label for="zIp">Zip Code</label>
                  <input
				   name="zipcode"
                    type="text"
                    class="form-control"
                    id="zIp"
                    placeholder="Zip Code"
                  />
                </div>
                <div class="form-group">
                  <label for="website">Appartment</label>
                  <input
				   name="appartment"
                    type="text"
                    class="form-control"
                    id="website"
                    placeholder="Appartment"
                  />
                </div>
              </div>
            </div>
            <div class="row gutters">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="text-right">
                  <button
                    type="button"
                    id="submit"
                   
                    class="btn btn-secondary"
                  >Cancel</button>
                  <button
                    type="submit"
                    id="submit"
                   
                    class="btn btn-primary"
                  >Update</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
   </form>



    </div>
  </div>
