<div class="container-fluid " style="margin-top: 90px;">
  <h3 style="margin-left: 130px;" class="mt-3 fw-800 pb-3  ">Your Account</h3>
 
  <div class="row g-2 d-flex justify-content-center">
    <div
      style="
            width: 320px;
            height: 100px;
            border-radius: 8px;
            border: 1px #d5d9d9 solid;
            
          "
      class="bg-white col-md-4 col-lg-3 bg-dark m-3"
    > <a class="text-decoration-none" href="/orders-list">
      <div class="d-flex justify-content-evenly pt-3">
        <img
          style="width: 66px; height: 50px"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4IhPGGKnYUldtnjhdmWY7w0LJhVeFwLR31w&usqp=CAU"
          alt=""
        />
        <div class="ac-container">
          <h3 class="h5">Your Orders</h3>
          <p style="font-size: 14px" class="text-muted">
            Track,Return or buy things again
          </p>
        </div>
      </div>
      </a>
    </div>
    <div
      style="
            width: 320px;
            height: 100px;
            border-radius: 8px;
            border: 1px #d5d9d9 solid;
          "
      class="bg-white col-md-4 col-lg-3 bg-dark m-3"
    >
    <a href="/profile-edit/{{userId}}" class="text-decoration-none">
      <div class="d-flex justify-content-evenly pt-3">
        <img
          style="width: 66px; height: 49px"
          src="https://images-na.ssl-images-amazon.com/images/G/31/x-locale/cs/ya/images/sign-in-lock._CB485931504_.png"
          alt=""
        />
        <div class="ac-container">
          <h3 class="h5">Login & Security</h3>
          <p style="font-size: 14px" class="text-muted">
            Edit login, name and mobile number
          </p>
        </div>
      </div>
      </a>
    </div>
    <div
      style="
            width: 320px;
            height: 100px;
            border-radius: 8px;
            border: 1px #d5d9d9 solid;
          "
      class="bg-white col-md-4 col-lg-3 bg-dark m-3"
    >
    <a href="/change-password/{{userId}}" class="text-decoration-none">
      <div class="d-flex justify-content-evenly pt-3">
        <img
          style="width: 66px; height: 49px"
          src="https://images-na.ssl-images-amazon.com/images/G/31/x-locale/cs/ya/images/sign-in-lock._CB485931504_.png"
          alt=""
        />
        <div class="ac-container">
          <h3 class="h5">Change Password</h3>
          <p style="font-size: 14px" class="text-muted">
            Edit login, verification
          </p>
        </div>
      </div>
      </a>
    </div>

    <div
      style="
            width: 320px;
            height: 100px;
            border-radius: 8px;
            border: 1px #d5d9d9 solid;
          "
      class="bg-white col-md-4 col-lg-3 bg-dark m-3"
    >  
    <a class="text-decoration-none" href="/my-addresses/{{userId}}">
      <div class="d-flex justify-content-evenly pt-3">
        <img
          style="width: 66px; height: 50px"
          src="https://images-na.ssl-images-amazon.com/images/G/31/x-locale/cs/ya/images/address-map-pin._CB485934183_.png"
          alt=""
        />
        <div class="ac-container">
          <h3 class="h5">Your Addresses</h3>
          <p style="font-size: 14px" class="text-muted">
            Edit addresses for orders and gifts
          </p>
        </div>
      </div>
      </a>
    </div>

    <div
      style="
            width: 320px;
            height: 100px;
            border-radius: 8px;
            border: 1px #d5d9d9 solid;
          "
      class="bg-white col-md-4 col-lg-3 bg-dark m-3"
    >
      <div class="d-flex justify-content-evenly pt-3">
        <img
          style="width: 66px; height: 44px"
          src="https://images-na.ssl-images-amazon.com/images/G/31/x-locale/cs/ya/images/Payments._CB485926359_.png"
          alt=""
        />
        <div class="ac-container">
          <h3 class="h5">Payment options</h3>
          <p style="font-size: 14px" class="text-muted">
            Edit or add payment methods
          </p>
        </div>
      </div>
    </div>

    <div
      style="
            width: 320px;
            height: 100px;
            border-radius: 8px;
            border: 1px #d5d9d9 solid;
          "
      class="bg-white col-md-4 col-lg-3 bg-dark m-3"
    >
      <div class="d-flex justify-content-evenly pt-3">
        <img
          style="width: 55px; height: 55px"
          src="https://images-na.ssl-images-amazon.com/images/G/31/x-locale/cs/help/images/gateway/self-service/contact_us._CB623781998_.png"
          alt=""
        />
        <div class="ac-container">
          <h3 class="h5">Contact us</h3>
          <p style="font-size: 14px" class="text-muted">
            Track,Return or buy things again
          </p>
        </div>
      </div>
    </div>
  
</div>
  
</div>