

/*carouser*/








/* card */
.dress-card-img-top {
  width:100%;
  border-radius: 7px 7px 0 0;
}

.dress-card-body {
  padding:1rem;
  background: #fff;
  border-radius: 0 0 7px 7px;
}

.dress-card-title {
  line-height: 0.5rem;
}

.dress-card-crossed {
  text-decoration: line-through;
}

.dress-card-price {
  font-size: 1rem;
  font-weight: bold;
}

.dress-card-off {
  color: #E06C9F;
}

.dress-card-para {
  margin-bottom: 0.2rem;
  font-size: 1.0rem;
  margin-bottom: 0rem;
}

.dress-card {
  border-radius: 14px;
}

.dress-card-heart {
  font-size: 1em;
  color: #DB2763;
  margin: 4.5px;
  position: absolute;
  left: 4px;
  top: 0px;
  
}

.surprise-bubble {
  position: absolute;
  bottom: 12rem;
  right: 2rem;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background: #fff;
  padding: 1rem;
  color: white;
  -webkit-transition: all 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.surprise-bubble a {
  font-size: 0.65em;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  font-family: arial;
  text-decoration: none;
  position: absolute;
  top: 9px;
  left: 20px;
  opacity: 0;
  -webkit-transition-delay: 2s;
  /* Safari */
  transition-delay: 2s;
  -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.surprise-bubble:hover {
  border-radius: 999rem;
  padding: 1rem;
  width: 26%;
  height: 30px;
  background: #DB2763;
  color: white;
  -webkit-transition: all 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.surprise-bubble:hover a {
  opacity: 1;
  -webkit-transition-delay: 2s;
  /* Safari */
  transition-delay: 2s;
  -webkit-transition: opacity 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: opacity 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.card-button {
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  padding: 9px;
}
.card-button a {
  text-decoration: none;
}

.card-button-inner {
  padding: 10px;
  border-radius: 3px;
}

.bag-button {
  background: #E06C9F;
  color: white;
}

.bag-button :hover{
  background: #e299b9;
}

.wish-button {
  border: 1px solid #E06C9F;
  color: #E06C9F;
}

